<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/814d8a54eb.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body style="background: linear-gradient(to right, rgb(197, 255, 247) ,rgb(249, 249, 166));">
    <center>
      <h1 class="card-title mt-3 text-center text-info">Welcome</h4>
      <h3 class="text-center text-success lead mb-5">Let's Start your sucessful Career!</h3>
        <form method="post" action="{% url 'level:register'  %}" novalidate class="needs-validation">
          {% csrf_token %}
          <div class="form-group input-group w-50" >
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control text-primary" placeholder="FirstName" id="firstname" type="text" required="">
            <small class="invalid-feedback">UserName is required or UserName is not Valid</small>
          </div>
          <div class="form-group input-group w-50">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" class="form-control text-primary" placeholder="Email Address" id="email" type="email" required="">
            <small class="invalid-feedback">Email is required or Email is not valid</small>
          </div> 
          <div class="form-group input-group w-50">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <input name="phone" class="form-control text-primary" placeholder="Phone Number" id="phone" type="text" required="">
            <small class="invalid-feedback">Phone number is required or phone number is not valid</small>
          </div> 
          <div class="form-group input-group w-50">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa-solid fa-user-graduate"></i></i> </span>
            </div>
            <select class="form-control" id="exampleFormControlSelect1" required>
              <option selected disabled value="" >Select Qualification</option>
              <option value="1">B.Tech</option>
              <option value="2">BSC</option>
              <option value="3">B.COM</option>
              <option value="4">IT</option>
              <option value="5">AGBSC</option>
            </select>
            <small class="invalid-feedback">Please select one option</small>
          </div>
          <div class="form-group input-group w-50">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa-solid fa-book-open"></i></i> </span>
            </div>
            <select class="form-control form_control-sm" id="exampleFormControlSelect1" required>
              <option selected disabled value="">Select Course</option>
              <option value="1">Python Full Stack</option>
              <option value="2">Devops</option>
              <option value="3">Azure Data</option>
              <option value="4">Sales Force</option>
              <option value="5">Cloud Data</option>
            </select>
            <small class="invalid-feedback">Please Select one option</small>
          </div>
          <div class="form-group w-50">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </div>
        </form>
        <div class="">
            {% for message in messages %}
            <span> {{message}}</span>
            {% endfor %}
        </div>
    </center>
    <script>
      var a=document.querySelector(".needs-validation");
      var valid=function(e)
      {
        if(a.checkValidity()===false)
        {
          e.preventDefault();
          a.classList.add('was-validated');
        }
      }
      a.addEventListener("submit",valid);0
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>